

/* ==========================================================================
   Global styles
   ========================================================================== */
html, body {
    height: 100%;
}
h1 {
	font-size: 140px;
}
// Mixin
.centered {
  float:none;
  margin-left: auto;
  margin-right: auto;
}

.container {
    width:100%;
    .center-block();
}
.container.fill {
    min-height:100%;
    width:100%;
    padding-bottom: 3%;
    padding-top: 7%;
}
.container h2 {
	padding-bottom: 10%!important;
	font-size: 4em;
	font-weight: 100;
}
.container p {
	font-size: 1.5em;
	font-weight: 120;

}
/* ==========================================================================
   Navbar styles
   ========================================================================== */
.navbar {
	height: 55px;
	/*border-bottom: 1px #eff5f5 solid;*/
}
.navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar .nav>li>a {
	color:white;
	padding-left: 0px;
	padding-right:0px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 4px;
	border-top: 4px #29cde6 solid;
}
.navbar .nav>li>a:hover, .navbar .nav>li>a:focus, .navbar .nav>li.active {
	color:#278d9e;
	background-color: transparent;
	border-top: 4px #278d9e solid;
}


/* ==========================================================================
   Container styles
   ========================================================================== */
.navbar, .events {
	background-color: #29cde6;
	color: white;
}
.about {
	background-image: url("../img/crane-crop.jpg");
	background-size: 200%;
	background-position: bottom right;
	color: white;
}

.projects {
	background-color: white;
	color: #b8bdbd;
}

.team {
	background-color: #eff5f5;
	color: #b8bdbd;
}
.team h3 {
	color: #afb7b8;
}
.team p {
	color: #d5dcdd;
}

.contact {
	background-color: #2acee7;
/*	background-image: url("../img/large_icon_logo.png");
	background-size: 200%;
	background-position: center top;*/
	color: white;
}















