// MAIN STYLESHEET -- style.scss

// Imports ***********************
@import 'reset';
@import 'colors';
@import 'unsemantic/unsemantic-grid-responsive-tablet-no-ie7';
* {
	box-sizing: border-box;
	font-family: lato, sans-serif;}

// MISC Mixins & Classes ********
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin button ($color) {

			display: inline-block;
			background-color: $color;
			color: white;
			font-size: 1.1em;
			margin: 0 auto;
			margin-top: 3em;
			text-transform: uppercase;
			text-decoration: none;
			padding: .8em .9em;
			border-bottom: 4px solid darken($color,5%);
			border-radius: 5px;
			&:active {
				position: relative;
				border: 0;
				top: 4px;
				margin-bottom: 4px;
			}
			&:after {
			content: '';
			transform:rotate(45deg);
			-ms-transform:rotate(45deg); /* IE 9 */
			-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
			border-top: 3px solid white;
			border-right: 3px solid white;
			float: right;
			margin-left: 3px;
			margin-top: 3px;
			width: 10px;
			height: 9px;
			}
}

.active {display: block !important;}
.hidden {display: none !important;}


body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	padding-top: 60px; //to account for navigation fixed
	background-color: $blue;
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
// ********** INDEX PAGE ********** //
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////


//////////////////////////////////
// ********** HEADER ********** //
//////////////////////////////////

header {
	padding: 20px;
	@media (max-width: 767px) {padding: 5px 0;}
	background-color: $blue;
	overflow: auto;
	position: fixed; top: 0; left: 0; right: 0;
	z-index: 9999;
	#logo {
		float: left;
		position: relative;
		@media (max-width: 767px) {text-align: center; width: 100%; padding: 0;}
		img {
			max-width: 302px;
		}
	}
	nav {
		float: right;
		font-family: 'Oxygen', sans-serif;
		@media (max-width: 767px) {text-align: center; width: 100%; float: none; font-size: .9em;}
		a {
			display: inline-block;
			margin-left: 1em;
			@media (max-width: 767px) {margin-left: .4em;}
			color: white;
			font-size: 1.2em;
			line-height: 40px;
			text-decoration: none;}
	}

}

#intro {
	background-color: $blue;
	color: white;
	font-family: 'Oxygen', sans-serif;
	padding: 6em 0;
	overflow: hidden;
	h1 {
		font-size: 10em;
		@media (max-width: 767px) {
			font-size: 5em;
		}
		font-weight: 700;}
	
	.event {
	display: block;
	margin-top: 1em;
	text-align: left;
		h3 {
			color: $darkblue;
			font-size: 2em;
			display: inline-block;
			margin-bottom: .35em;}
		span {
			display: inline;
			font-size: 1.4em;
			&:after {
				content: '/';
				margin: 0 .6em;
				font-size: 1.5em;
				line-height: .5em;
				position: relative;
				font-weight: 300;
				top: .15em;
				color: $darkblue;
			}
			&:last-of-type {
				&:after {content: '';}
			}
		}
		.intro-button {text-align: center;}
		.intro-button a {
			@include button ($darkblue);
		}
	}

}

#about {
	// background-color: $darkblue;
	background-image: url('../img/about.jpg');	
	background-size: cover;
	background-position: 50% 50%;
	color: white;
	padding: 7em 0;
	font-family: 'Oxygen', sans-serif;

	h2 {
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 1em;
	}
	
	p {
		font-size: 1.3em;
		line-height: 1.4em;
		text-align: left;
	em {font-weight: 700;}
	}
}

#ventures {
	background-color: white;
	padding: 7em 0;
	font-family: 'Oxygen', sans-serif;
	h2 {
		color: $darkgrey;
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 1em;
	}
	
	p {
		text-align: center;
		color: $grey;
		font-size: 1.3em;
		line-height: 1.4em;
		margin-bottom: 4em;
	}

	.venture-list {
		.empty {
			@media screen and (max-width: 767px) {display: none;}
			.hover {
				padding-top: 45%;
				h4 {
					font-size: 1.5em;
					text-transform: uppercase;
				}
			}
		}


		li {
			position: relative;
			border: 2px solid white;
			overflow: hidden;
			@media screen and (max-width: 500px) {width: 100%;}
		

		.static {
			display: block;
			background-color: $lightgrey;
			border-style: outset;
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			position: relative;

			background-size: cover;
			background-color: none;
			&:before {
				position: absolute;
				content: '';
				top: 0; bottom: 0; left: 0; right: 0;
				opacity: .8;
			}
			&:after {
				position: absolute;
				content: '';
				background-repeat: no-repeat;
				background-position: 50% 50%;
				height: 100%;
				width: 100%;
			}
		}
	}
		.hover {
			top: -100%; left: 0; bottom: 0; right: 0;
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba($blue,.75);
			color: white;
			text-decoration: none;
			text-align: center;
			padding-top: 38%;
			h4 {
				font-size: 2.5em;
				margin-bottom: .6em;
			}
			
			.learn-button {
				display: inline-block;
				background-color: white;
				color: $blue;
				width: auto;
				font-size: 1em;
				line-height: 1.4em;
				padding: .5em .6em .4em .6em;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {background-color: $darkblue; color: white;}
				}
		}
		
		#nwhacks {
			background-image: url('../img/ventures/nwhacks-bg.jpg');
			&:before {
				background-color: #4bbb87;
			}
			&:after {
				background-image: url('../img/ventures/nwhacks-logo.png');
			}
		}
	}
}

#team {
	background-color: $lightgrey;
	padding: 7em 0;
	font-family: 'Oxygen', sans-serif;
	h2 {
		color: $darkgrey;
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 1em;
	}
	
	p {
		color: $grey;
		font-size: 1.3em;
		line-height: 1.4em;
		margin-bottom: 4em;
		text-align: center;
	}

	.team-list {
	li {
		position: relative;
		border: 2px solid $lightgrey;
		overflow: hidden;
		margin-bottom: 2em;
		@media screen and (max-width: 500px) {width: 100%;}
		&:nth-of-type(4n+1) {
  	  	clear:left;
  	  	}

		h3 {
		color: $darkgrey;
		font-size: 1.4em;
		text-align: left;
		margin: .3em 0;
		}	

		h4 {
		color: $blue;
		font-size: 1.1em;
		margin: .5em 0;
		}
	
		p {
		color: darken($grey, 15%);
		font-size: 1em;
		line-height: 1.6em;
		text-align: left;
			a {
				color: $blue;
				text-decoration: none;
			}
		}
		
		.static {
			display: block;
			background-color: $lightgrey;
			border-style: outset;
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			position: relative;

			background-size: cover;
			background-color: none;
		}
	}
		.hover {
			top: -100%; left: 0; bottom: 0; right: 0;
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba($blue,.75);
			color: white;
			text-decoration: none;
			text-align: center;
			padding-top: 70%;
			a {
				color: white;
				text-decoration: none;
				font-size: 2em;
				margin: 0 .5em;
				position: relative;
				z-index: 999;
			}
			.hidden {display: none;}
			h4 {
				font-size: 2.5em;
				margin-bottom: .6em;
			}
			
			.button {
				display: inline-block;
				background-color: white;
				color: $blue;
				width: auto;
				font-size: 1em;
				line-height: 1.2em;
				padding: .4em;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {background-color: $darkblue; color: white;}
				}
		}
		
		//list of team members:
		$team: (david, rob, peter, tasha, jamie, jun);

		// generate background images for each member of team. each image should be named the first name and in .jpg format.
		@each $member in $team {
			##{$member} .static {
				background-image: url('../img/team/' #{$member} '.jpg')
			}
		}

		#hiring .hover {
		padding-top: 45%;
			.hiringbutton a {
				@include button ($darkblue);
				margin-top: 0;
			}
		}
		li .static {
			background-color: $grey;
			span {
				display: block;
				font-size: 5em;
				text-align: center;
				width: 100%;
				@include vertical-align;
				color: $lightgrey;
				padding-bottom: 10%;
			}
		}
	}
}

#contact {
	background-color: $blue;
	padding: 7em 0;
	font-family: 'Oxygen', sans-serif;
	h2 {
		color: white;
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 1em;
	}
	
	p {
		color: white;
		font-size: 1.3em;
		line-height: 1.4em;
		margin-bottom: 4em;
		text-align: center;
	}

	.icons {
		text-align: center;
		a {
			color: $blue;
			text-decoration: none;
			font-size: 1.5em;
			margin: 0 .4em;
			padding: 10px;
			background-color: white;
		}
	}

}

/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
// ********** JOIN PAGE ********** //
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
#join-body {
	padding: 0 !important;
}
#join-intro {
	text-align: center;
	div.grid-25 {padding: 16px;}
	.back-button {
			display: inline-block;
			background-color: $darkblue;
			color: white;
			font-size: 1.0em;
			margin: 0 auto;
			text-transform: uppercase;
			text-decoration: none;
			padding: .9em .9em .8em .9em;
			border-bottom: 4px solid darken($darkblue,5%);
			border-radius: 5px;
			&:active {
				position: relative;
				border: 0;
				top: 4px;
				margin-bottom: 4px;
			}

		&:before {
			content: '';
			transform:rotate(-45deg);
			-ms-transform:rotate(-45deg); /* IE 9 */
			-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
			border-top: 3px solid white;
			border-left: 3px solid white;
			float: left;
			margin-right: 3px;
			margin-top: 1px;
			width: 10px;
			height: 9px;
		}
		}
	@extend #intro;
	padding: 8em 0;
	@media screen and (max-width: 500px) {padding: 1em 0 2em 0;;}
	h1 {
		text-align: center;
		line-height: 1.2em;
		margin: 0 auto;
		display: inline-block;
		font-size: 4em;
		@media screen and (max-width: 500px) {font-size: 3em;}

	}
}

#join-overview {
	@extend #about;
	background-image: none;
	background-color: $darkblue;
	color: white;
	p {
		color: white;
		text-align: left;
		margin-bottom: 1em;
		em {font-weight: 700;}
	}
}

#join-nav {
	@extend #about;
	background-image: none;
	background-color: white;
	color: $darkgrey;
	overflow: auto;
	article {
		margin-bottom: 1.2em;
		h3 {
			color: $darkblue;
			font-size: 3em;
		}
		h4 {
			font-style: italic;
			margin-bottom: 1em;
		}
		ul li {
			margin-left: 1em;
			list-style-type: square;}
		ul li h5 {
			color: darken($blue,10%);
			text-decoration: none;
			font-size: 1.5em;
			line-height: 1.5em;
		}
	}
	.download 
	{
		clear:left;
		text-align: center;
		a {
			@include button ($darkblue);
			&:after{content: none}
			position: relative;

			span{
			&:before {
				display: inline-block;
				line-height: .1em;
				position: relative;
				margin-left: .2em;
				top: 4px;
				font-size: 1.4em;
				}
			}
		}
	}
}

